In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

In [22]:
with open('queries/2_job_comparison.sql', 'r') as file:
    query = file.read()

In [23]:
# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    host='localhost',
    database='sql_project',
    user='postgres',
    password='1482002'
)

# Create a cursor object using the connection
cur = conn.cursor()

# Execute the query
cur.execute(query)

# Fetch all rows
rows = cur.fetchall()

# Close the cursor and connection
cur.close()
conn.close()

In [24]:
# Create a DataFrame from the fetched rows
df = pd.DataFrame(rows)
df.columns = ['job_role', 'job_count', 'salary_avg']

In [27]:
df.sort_values('job_count', ascending=False)

                    job_role  job_count salary_avg
4             Data Scientist       7612     139943
2               Data Analyst       6595      97348
3              Data Engineer       6103     134341
0           Business Analyst        617      91071
5  Machine Learning Engineer        573     126786
6          Software Engineer        469     112778
1             Cloud Engineer         65     111268